@model List<LocationProvider.Domain.Location>

@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-pills map-navigation">
    <li role="presentation">@Html.ActionLink("1h", "Sort", "Map", new { id = Model[0].DeviceId, time = 1 }, new { @class = "btn btn-default" })</li>
    <li role="presentation">@Html.ActionLink("5h", "Sort", "Map", new { id = Model[0].DeviceId, time = 5 }, new { @class = "btn btn-default" })</li>
    <li role="presentation">@Html.ActionLink("12h", "Sort", "Map", new { id = Model[0].DeviceId, time = 12 }, new { @class = "btn btn-default" })</li>
    <li role="presentation">@Html.ActionLink("24h", "Sort", "Map", new { id = Model[0].DeviceId, time = 24 }, new { @class = "btn btn-default" })</li>
    <li role="presentation">@Html.ActionLink("3d", "Sort", "Map", new { id = Model[0].DeviceId, time = 72 }, new { @class = "btn btn-default" })</li>
    <li role="presentation">@Html.ActionLink("Savaitė", "Sort", "Map", new { id = Model[0].DeviceId, time = 168 }, new { @class = "btn btn-default" })</li>
</ul>


<div class="map-container">
    <div id="map">My precious map</div>
    <div class="map-data"></div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
@*<script src="~/Scripts/map-scripts/map.js"></script>*@
<script type="text/javascript">
    var map;

    function myMap() {

        var mapOptions = {
            center: new google.maps.LatLng(55, 25),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.HYBRID
        };
        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        traveledCorrdinates = [];

        @foreach (var location in Model)
        {
            <text>
            latitude = "@location.Latitude".replace(",", ".");
            longitude = "@location.Longitude".replace(",", ".");
            traveledCorrdinates.push({lat:Number(latitude), lng:Number(longitude)})
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(latitude, longitude),
            map: map
            });

            var infowindow = new google.maps.InfoWindow({
                content: "@location.TimeStamp"
            });

	        marker.addListener('click', function () {
	        infowindow.open(map, marker);
	        });
            </text>
        }
        var traveledPath = new google.maps.Polyline({
            path: traveledCorrdinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });
        traveledPath.setMap(map);

    };
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALfW_XWXIjdX7QAgwXA1BQmiV7zZEOxKw&callback=myMap"
        type="text/javascript">
</script>

